@charset "UTF-8";
body {
  font-family: '돋움',dotum,Apple SD Gothic Neo,sans-serif; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: none; }

img {
  vertical-align: bottom; }

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 1165px; } }

.other-header {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .other-header:after {
    content: "";
    display: table;
    clear: both; }
  .other-header__hamburger {
    width: 18px;
    height: 13px;
    float: left; }
    .other-header__hamburger a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../images/hamburger_menu_mobile.png"); }
  .other-header__logo {
    display: block;
    width: 76px;
    height: 19px;
    margin: 0 auto; }
    .other-header__logo a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      background-image: url("../images/logo_mobile.png"); }

.slide-menu {
  display: none;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 9999; }
  .slide-menu__header {
    padding: 15px 20px; }
    .slide-menu__header:after {
      content: "";
      display: table;
      clear: both; }
    .slide-menu__header__close {
      width: 15px;
      height: 15px;
      background-image: url(../images/close_menu_mobile.png);
      float: left; }
    .slide-menu__header__logo {
      display: block;
      width: 76px;
      height: 13px;
      background-image: url(../images/logo_mobile.png);
      margin: 0 auto; }
  .slide-menu__section {
    padding: 0 20px; }
    .slide-menu__section__list li {
      padding: 20px 0;
      border-bottom: 1px solid #f0f0f0; }
    .slide-menu__section__list li:last-child {
      border-bottom: 0; }
  .slide-menu__footer {
    background-color: #f7f7f7;
    padding: 15px 20px;
    font-size: 12px; }
    .slide-menu__footer__list {
      line-height: 2; }
      .slide-menu__footer__list:after {
        content: "";
        display: table;
        clear: both; }
    .slide-menu__footer__list li {
      float: left; }
    .slide-menu__footer__list li a {
      color: #666; }
    .slide-menu__footer__list li:nth-child(even) {
      width: 1px;
      height: 8px;
      background-color: #acacac;
      margin: 0 5px;
      margin-top: 8px; }
    .slide-menu__footer__list li:first-child {
      padding-left: 0; }
    .slide-menu__footer__copyright {
      display: inline-block;
      color: #888;
      font-size: 10px;
      margin-left: 5px; }
    .slide-menu__footer .go-pc-version {
      color: #888;
      font-size: 10px;
      background-color: #f7f7f7;
      border: 1px solid #d2d2d2;
      border-radius: 2px;
      margin-left: 10px;
      padding: 2px; }

.dim-bg {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9998; }

.index-header {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  border: 0; }
  .index-header:after {
    content: "";
    display: table;
    clear: both; }
  .index-header__hamburger {
    width: 18px;
    height: 13px;
    float: left; }
    .index-header__hamburger a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../images/hamburger_menu_mobile.png"); }
  .index-header__logo {
    display: block;
    width: 76px;
    height: 19px;
    margin: 0 auto; }
    .index-header__logo a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      background-image: url("../images/logo_mobile.png"); }
  .index-header__hamburger a {
    background-image: url(../images/hamburger_menu_white_mobile.png); }
  .index-header__logo a {
    background-image: url(../images/logo_white_mobile.png); }

.banner {
  height: 400px;
  background-image: url(../images/bg_main_3.jpg);
  background-size: cover;
  background-position: center center;
  padding: 125px 0;
  text-align: center; }
  .banner__title {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px; }
  .banner__download {
    font-family: helvetica,sans-serif; }
    .banner__download button {
      color: #fff;
      font-size: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      padding: 10px 22px; }
      .banner__download button * {
        vertical-align: middle; }
      .banner__download button img {
        margin-right: 5px; }
    .banner__download--playstore {
      margin-right: 5px; }

.index-section .index-article {
  padding: 60px 0;
  position: relative; }

.simple-bank {
  background-color: #fff; }
  .simple-bank__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .simple-bank__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .simple-bank__image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }

.global-remittance {
  padding-bottom: 0 !important;
  background-color: #f7f7f7; }
  .global-remittance__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .global-remittance__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .global-remittance__graph-image {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .global-remittance__hand-image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }
  .global-remittance .horizontal-line {
    width: 20px;
    height: 1px;
    background-color: #f0f0f0;
    margin-bottom: 30px; }
  .global-remittance__more-commission {
    color: #15689f;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 30px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -107px; }
    .global-remittance__more-commission * {
      vertical-align: middle; }
    .global-remittance__more-commission img {
      width: 12px;
      margin-left: 5px; }

.reasonable-saving__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all; }

.reasonable-saving__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px; }

.reasonable-saving__process-image {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px; }

.reasonable-saving__phone-image {
  max-width: 320px;
  display: block;
  margin: 0 auto; }

.reasonable-saving__gradient {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0; }

.loan {
  color: #fff;
  text-align: center;
  padding-bottom: 0 !important;
  background-color: #6496DC;
  overflow: hidden; }
  .loan .wrapper {
    width: 100%;
    height: 100%;
    z-index: 1; }
  .loan--night {
    width: 100%;
    height: 0;
    background-color: #333b58;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.5s cubic-bezier(0.2, 0.7, 0.8, 1) 1.2s;
    z-index: 0; }
  .loan--night.active {
    height: 100%; }
  .loan__sun {
    width: 64px;
    height: 64px;
    background-color: #ffe400;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    right: -15px;
    transition: background-color .7s ease-out 1.2s; }
  .loan__sun.shadow {
    background-color: #333b58; }
  .loan__moon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 10px -17px 0 0 #fff;
    -ms-transform: rotate(100deg);
    /* IE 9 */
    -webkit-transform: rotate(100deg);
    /* Chrome, Safari */
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    margin: 30px 0 0 120px;
    opacity: 0;
    position: absolute;
    top: -13px;
    right: 0px;
    transition: opacity 1s ease-out 1.2s; }
  .loan__moon.rise {
    opacity: 1; }
  .loan__star {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    opacity: 0; }
  .loan__star.rise {
    opacity: 1; }
  .loan__star1 {
    top: 45px;
    left: 70px;
    animation: shining 5s infinite; }
  .loan__star2 {
    top: 140px;
    left: 45px;
    animation: shining 4s infinite; }
  .loan__star3 {
    top: 170px;
    left: 30px;
    animation: shining 2s infinite; }
  .loan__star4 {
    top: 230px;
    right: 45px;
    animation: shining 3s infinite; }
  .loan__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .loan__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .loan__image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }

@keyframes shining {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0); } }

.check-card__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all;
  text-align: center; }

.check-card__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px; }

.check-card__image {
  max-width: 320px;
  display: block;
  margin: 0 auto; }

.adventage {
  background-color: #f7f7f7;
  text-align: center; }
  .adventage .horizontal-line {
    width: 70px;
    height: 1px;
    background-color: #000;
    margin: 0 auto; }
  .adventage__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .adventage__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .adventage__image {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 20px; }
  .adventage__list li {
    padding: 40px 0;
    border-bottom: 1px solid #e6e6e6; }
  .adventage__list li:last-child {
    border: 0; }
  .adventage__list__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .adventage__list__description {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all;
    font-size: 14px; }

.introduce-section {
  margin-top: 45px; }
  .introduce-section .introduce-article {
    padding: 20px 0; }

.introduce-kakaobank__header {
  font-size: 18px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 15px 30px;
  padding-bottom: 20px; }

.introduce-kakaobank__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all;
  font-size: 23px;
  line-height: 1.2;
  margin: 0 15px 10px; }

.introduce-kakaobank__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px;
  font-size: 13px;
  margin: 0 15px 30px; }

.introduce-kakaobank__slide-show {
  height: 180px;
  overflow: hidden;
  position: relative; }
  .introduce-kakaobank__slide-show__item {
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s ease-out, background-position .2s ease-out; }
    .introduce-kakaobank__slide-show__item.item1 {
      background-image: url(../images/img_1_20180109.jpg); }
    .introduce-kakaobank__slide-show__item.item2 {
      background-image: url(../images/img_2_20180109.jpg); }
    .introduce-kakaobank__slide-show__item.item3 {
      background-image: url(../images/img_3_20180109.jpg); }
    .introduce-kakaobank__slide-show__item.item4 {
      background-image: url(../images/img_4_20180109.jpg); }
  .introduce-kakaobank__slide-show__item.pass {
    background-position: right center;
    opacity: 0; }
  .introduce-kakaobank__slide-show__item.on {
    opacity: 1; }
  .introduce-kakaobank__slide-show__arrow {
    display: block;
    width: 21px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .introduce-kakaobank__slide-show__arrow.prev {
      background-image: url("../images/prev-arrow.png");
      left: 15px; }
    .introduce-kakaobank__slide-show__arrow.next {
      background-image: url("../images/next-arrow.png");
      right: 15px; }
  .introduce-kakaobank__slide-show__logo {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../images/mask_white.png);
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: 1;
    transition: opacity .2s; }
    .introduce-kakaobank__slide-show__logo--mask {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-size: 300px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-mask: url(../images/mask_black.png);
      mask: url(../images/mask_black.png);
      background-size: 110%;
      background-position: 45% 60%;
      transition: background-position .2s; }
    .introduce-kakaobank__slide-show__logo--mask.mask1 {
      background-image: url(../images/img_1_20180109.jpg); }
    .introduce-kakaobank__slide-show__logo--mask.mask2 {
      background-image: url(../images/img_2_20180109.jpg); }
    .introduce-kakaobank__slide-show__logo--mask.mask3 {
      background-image: url(../images/img_3_20180109.jpg); }
    .introduce-kakaobank__slide-show__logo--mask.mask4 {
      background-image: url(../images/img_4_20180109.jpg); }
  .introduce-kakaobank__slide-show__logo.clear {
    opacity: 0; }
  .introduce-kakaobank__slide-show__logo.clear + .introduce-kakaobank__slide-show__logo--mask {
    background-position: right center; }
  .introduce-kakaobank__slide-show__description {
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%); }
  .introduce-kakaobank__slide-show__number {
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 20px; }
    .introduce-kakaobank__slide-show__number--current {
      font-size: 18px; }
    .introduce-kakaobank__slide-show__number--all {
      font-size: 10px; }

.introduce-footer {
  height: 60px;
  background-color: #f0f0f0;
  padding: 10px 0; }

.timeline {
  padding: 60px 15px 30px; }
