@charset "UTF-8";
body {
  font-family: '돋움',dotum,Apple SD Gothic Neo,sans-serif; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: none; }

img {
  vertical-align: bottom; }

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 1165px; } }

.index__header {
  width: 100%;
  height: 45px;
  padding: 15px;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .index__header:after {
    content: "";
    display: table;
    clear: both; }
  .index__header__hamburger {
    width: 18px;
    height: 13px;
    float: left; }
    .index__header__hamburger a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../images/hamburger_menu_white_mobile.png); }
  .index__header__logo {
    display: block;
    width: 76px;
    height: 19px;
    margin: 0 auto; }
    .index__header__logo a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      background-image: url(../images/logo_white_mobile.png); }

.banner {
  height: 400px;
  background-image: url(../images/bg_main_3.jpg);
  background-size: cover;
  background-position: center center;
  padding: 125px 0;
  text-align: center; }
  .banner__title {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px; }
  .banner__download {
    font-family: helvetica,sans-serif; }
    .banner__download button {
      color: #fff;
      font-size: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      padding: 10px 22px; }
      .banner__download button * {
        vertical-align: middle; }
      .banner__download button img {
        margin-right: 5px; }
    .banner__download--playstore {
      margin-right: 5px; }

.index__section .index__article {
  padding: 60px 0;
  position: relative; }

.simple-bank {
  background-color: #fff; }
  .simple-bank__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .simple-bank__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .simple-bank__image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }

.global-remittance {
  padding-bottom: 0 !important;
  background-color: #f7f7f7; }
  .global-remittance__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .global-remittance__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .global-remittance__graph-image {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .global-remittance__hand-image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }
  .global-remittance .horizontal-line {
    width: 20px;
    height: 1px;
    background-color: #f0f0f0;
    margin-bottom: 30px; }
  .global-remittance__more-commission {
    color: #15689f;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 30px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -107px; }
    .global-remittance__more-commission * {
      vertical-align: middle; }
    .global-remittance__more-commission img {
      width: 12px;
      margin-left: 5px; }

.reasonable-saving__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all; }

.reasonable-saving__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px; }

.reasonable-saving__process-image {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px; }

.reasonable-saving__phone-image {
  max-width: 320px;
  display: block;
  margin: 0 auto; }

.reasonable-saving__gradient {
  max-width: 320px;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 60px;
  left: 0; }

.loan {
  color: #fff;
  text-align: center;
  padding-bottom: 0 !important;
  background-color: #6496DC; }
  .loan .wrapper {
    width: 100%;
    height: 100%;
    z-index: 1; }
  .loan--night {
    width: 100%;
    height: 0;
    background-color: #333b58;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.5s cubic-bezier(0.2, 0.7, 0.8, 1) 1.5s;
    z-index: 0; }
  .loan--night.active {
    height: 100%; }
  .loan__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .loan__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .loan__image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }

.check-card__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all;
  text-align: center; }

.check-card__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px; }

.check-card__image {
  max-width: 320px;
  display: block;
  margin: 0 auto; }

.adventage {
  background-color: #f7f7f7;
  text-align: center; }
  .adventage .horizontal-line {
    width: 70px;
    height: 1px;
    background-color: #000;
    margin: 0 auto; }
  .adventage__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all; }
  .adventage__description {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 30px; }
  .adventage__image {
    max-width: 320px;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 20px; }
  .adventage__list li {
    padding: 40px 0;
    border-bottom: 1px solid #e6e6e6; }
  .adventage__list li:last-child {
    border: 0; }
  .adventage__list__title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  .adventage__list__description {
    font-weight: 500;
    line-height: 1.5;
    margin: 0 20px 20px;
    word-break: keep-all;
    font-size: 14px; }
