.global-remittance {
  padding-bottom: 0 !important;
  background-color: #f7f7f7;

  &__title {
    @include section__title;
  }

  &__description {
    @include section__description;
  }

  &__graph-image {
    @include section__image;
  }

  &__hand-image {
    @include section__image;
  }

  .horizontal-line {
    width: 20px;
    height: 1px;
    background-color: #f0f0f0;
    margin-bottom: 30px;
  }

  .break {
    display: none;
  }

  &__more-commission {
    color: #15689f;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 30px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -107px;

    * {
      vertical-align: middle;
    }

    .more-commission__plus--mobile {
      width: 12px;
      margin-left: 5px;
    }

    .more-commission__plus--pc {
      display: none;
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }

  @include laptop {
    background-image: url(../../images/home_map.png);
    background-position: right center;
    &__content {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__hand-image {
      width: 40%;
      display: block;
      margin: 0 auto;
    }

    .break {
      display: block;
    }

    &__more-commission {
      color: #fff;
      font-size: 0.9375rem;
      font-weight: 200;
      background-color: transparent;
      border: 0;
      text-decoration: underline;

      .more-commission__plus--mobile {
        display: none;
      }

      .more-commission__plus--pc {
        display: inline-block;
      }
    }
  }
}
