.index-header {
  @include header;
  background-color: transparent;
  border: 0;

  &__hamburger {
    a {
      background-image: url(../images/hamburger_menu_white_mobile.png);
    }
  }

  &__logo {
    a {
      background-image: url(../images/logo_white_mobile.png);
    }
  }

  @include laptop {
    &__hamburger {
      a {
        background-image: url(../images/hamburger_menu_white.png);
      }
    }

    &__logo {
      a {
        background-image: url(../images/logo_white.png);
      }
    }
  }
}
