.loan {
  color: #fff;
  text-align: center;
  padding-bottom: 0 !important;
  background-color: #6496DC;

  .wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &--night {
    width: 100%;
    height: 0;
    background-color: #333b58;
    position: absolute;
    bottom: 0; left: 0;
    transition: height .5s cubic-bezier(0.2, 0.7, 0.8, 1) 1.5s;
    z-index: 0;
  }

  &--night.active {
    height: 100%;
  }

  &__sun {
    width: 64px;
    height: 64px;
    background-color: #ffe400;
    border-radius: 100%;
    position: absolute;
    top: 30px; right: -15px;
    transition: background-color .7s ease-out 1.5s;
  }

  &__sun.shadow {
    background-color: #333b58;
  }

  &__moon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 10px -17px 0 0 #fff;
    -ms-transform: rotate(100deg);
    /* IE 9 */
    -webkit-transform: rotate(100deg);
    /* Chrome, Safari */
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    margin: 30px 0 0 120px;
    opacity: 0;
    position: absolute;
    top: -13px; right: 0px;
    transition: opacity 1s ease-out 1.5s;
  }

  &__moon.rise {
    opacity: 1;
  }

  &__title {
    @include section__title;
  }

  &__description {
    @include section__description;
  }

  &__image {
    @include section__image;
  }
}
