.reasonable-saving {
  @include clearfix;

  &__title {
    @include section__title;
  }

  &__description {
    @include section__description;
  }

  &__process-image {
    @include section__image;
    margin-bottom: 50px;
  }

  &__phone-image {
    @include section__image;
  }

  &__gradient {
    @include section__image;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include laptop {
    &__content {
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
    }

    &__process-image {
      display: block;
      width: 100%;
    }

    &__gradient {
      display: none;
    }
  }
}
