.index__section {
  .index__article {
    padding: 60px 0;
    position: relative;
  }
}

@mixin section__title {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 20px 20px;
  word-break: keep-all;
}

@mixin section__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 20px 30px;
}

@mixin section__image {
  max-width: 320px;
  display: block;
  margin: 0 auto;
}
