.simple-bank {
  background-color: #fff;

  &__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__title {
    @include section__title;
  }

  &__description {
    @include section__description;
  }

  &__image {
    @include section__image;
  }
}
