.simple-bank {
  background-color: #fff;

  &__title {
    @include section__title;
  }

  &__description {
    @include section__description;
  }

  &__image {
    @include section__image;
  }

  @include laptop {
    &__content {
      margin-left: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
    }
  }
}
