.notice__article {
  &__header {
    font-size: 18px;
    margin: 0 15px;
    padding: 20px 0;
  }

  .tab-menu {
    &__header {
      padding: 0 20px;
      border-bottom: 1px solid #dcdbdc;
      @include clearfix;
    }

    &__header li {
      width: 50%;
      text-align: center;
      padding: 15px 0;
      float: left;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: #888;
        font-size: 0.9375rem;
      }
    }

    &__header li.active {
      border-bottom: 2px solid #000;

      a {
        color: #000;
        font-weight: bold;
      }
    }

    // notice tab
    &__notice {
      display: none;

      .notice__container.on {
        display: block;
      }

      .notice__container {
        display: none;
      }

      .notice__list__item {
        padding: 20px;
        padding-right: 50px;
        border-bottom: 1px solid #dcdcdc;
        position: relative;
      }

      .item__title {
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .item__date {
        color: #888;
        font-size: 0.75rem;
      }

      .item__detail {
        display: block;
        width: 7px;
        height: 13px;
        background-image: url(../images/detail-arrow.png);
        background-size: cover;
        position: absolute;
        top: 50%; right: 25px;
        transform: translateY(-50%);
      }
    }

    &__notice.on {
      display: block;
    }

    // event tab
    &__event {
      display: none;

      .event__container.on {
        display: block;
      }

      .event__container {
        display: none;
      }

      .event__list {
        display: none;
      }

      .event__list.on {
        display: block;
      }

      .event__list__item {
        padding: 20px;
        border-bottom: 1px solid #dcdcdc;
        position: relative;
        @include clearfix;
      }

      .event__list__link > * {
        float: left;
      }

      .item__image {
        width: 45%;
        padding-right: 20px;
      }

      .item__image img {
        max-width: 100%;
      }

      .item__description {
        width: 55%;
      }

      .item__description--only-text {
        width: 100%;
        padding-right: 20px;
        position: relative;

        .item__description__container {
          margin-top: 0;
        }

        .item__description__title {
          white-space: normal;
          overflow: initial;
          text-overflow: clip;
        }
      }

      .item__description__container {
        margin-top: 20px;
      }

      .item__description__title {
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .item__description__date {
        font-size: 0.75rem;
        color: #888;
      }

      .item__detail-arrow {
        width: 7px; height: 13px;
        background-image: url(../images/detail-arrow.png);
        background-size: cover;
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
      }
    }

    &__event.on {
      display: block;
    }

    .notice__list__link,
    .event__list__link {
      display: block;
      width: 100%;
      height: 100%;
    }

    &__page-number {
      font-size: 0.9375rem;
      text-align: center;
      margin: 20px 0 40px;
    }

    .top-button {
      width: 50px;
      height: 50px;
      background-image: url(../images/top-button.png);
      position: fixed;
      bottom: -50px; right: 15px;
      transition: bottom .2s;
    }

    .top-button.active {
      bottom: 15px;
    }
  }
}
