@font-face {
  font-family: 'Yoon 윤고딕';
  src: url(../../fonts/YoonGothicPro720.woff);
}

html {
  position: relative;
  z-index: -9999;
}

body {
  font-family: '돋움',dotum,Apple SD Gothic Neo,sans-serif;
  position: relative;
  z-index: -9999;

  @include laptop {
    font-family: 'Yoon 윤고딕', '돋움';
  }
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  @include laptop {
    max-width: 1080px;
  }
}

.section__header {
  font-size: 18px;
  margin: 0 15px;
  padding: 20px 0;
}

.break {
  display: none;

  @include laptop {
    display: block;
  }
}

.question__search {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.question__search-icon {
  display: inline-block;
  width: 16px;
  height: 17px;
  background-image: url(../images/search-button.png);
  margin-right: 10px;
}

.question__search-input {
  font-size: 0.9275rem;
  outline: none;
}

.question__footer {
  font-size: 0.75rem;
  text-align: center;
  text-decoration: underline;
  padding: 30px 0 60px;

  &__call-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/call-icon.png);
    vertical-align: middle;
    margin-right: 8px;
  }
}

.item__detail {
  display: block;
  width: 7px;
  height: 13px;
  background-image: url(../images/detail-arrow.png);
  background-size: cover;
  position: absolute;
  top: 50%; right: 25px;
  transform: translateY(-50%);
}

.top-button {
  width: 50px;
  height: 50px;
  background-image: url(../images/top-button.png);
  position: fixed;
  bottom: -50px; right: 15px;
  transition: bottom .2s;
}

.top-button.active {
  bottom: 15px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
