body {
  font-family: '돋움',dotum,Apple SD Gothic Neo,sans-serif;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.wrapper {
  max-width: 1165px;
  margin: 0 auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
