.introduce-kakaobank {
  padding-bottom: 0 !important;

  .wrapper {
    width: 100%;
    height: 100%;
  }

  &__header {
    display: block;
    font-size: 18px;
    border-bottom: 1px solid #f0f0f0;
    margin: 0 15px 30px;
    padding: 20px 0;
  }

  &__title {
    @include section__title;
    line-height: 1.2;
    margin: 0 15px 10px;
  }

  &__description {
    @include section__description;
    font-size: 13px;
    margin: 0 15px 30px;
  }

  &__slide-show {
    height: 180px;
    overflow: hidden;
    position: relative;

    &__item {
      width: 100%;
      height: 100%;
      background-size: 110%;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .4s ease-out, background-position .2s ease-out;

      &.item1 {
        background-image: url(../images/img_1_20180109.jpg);
      }

      &.item2 {
        background-image: url(../images/img_2_20180109.jpg);
      }

      &.item3 {
        background-image: url(../images/img_3_20180109.jpg);
      }

      &.item4 {
        background-image: url(../images/img_4_20180109.jpg);
      }
    }

    // 현재 item이 arrow를 눌렀을 때 넘어가는 애니메이션
    &__item.pass {
      background-position: right center;
      opacity: 0;
    }

    &__item.on {
      opacity: 1;
    }

    &__arrow {
      display: block;
      width: 21px;
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &__arrow.prev {
      background-image: url("../images/prev-arrow_mobile.png");
      left: 15px;
    }

    &__arrow.next {
      background-image: url("../images/next-arrow_mobile.png");
      right: 15px;
    }

    &__logo {
      display: block;
      width: 100px;
      height: 100px;
      background-image: url(../images/mask_white_mobile.png);
      background-size: cover;
      margin: 0 auto;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      z-index: 1;
      transition: opacity .2s;
    }

    &__logo--mask {
      display: block;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-size: 300px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-mask: url(../images/mask_black_mobile.png);
      mask: url(../images/mask_black_mobile.png);
      background-size: 110%;
      background-position: 45% 60%;
      transition: background-position .2s;
    }

    &__logo--mask.mask1 {
      background-image: url(../images/img_1_20180109.jpg);
    }

    &__logo--mask.mask2 {
      background-image: url(../images/img_2_20180109.jpg);
    }

    &__logo--mask.mask3 {
      background-image: url(../images/img_3_20180109.jpg);
    }

    &__logo--mask.mask4 {
      background-image: url(../images/img_4_20180109.jpg);
    }

    &__logo.clear {
      opacity: 0;
    }

    &__logo.clear + &__logo--mask {
      background-position: right center;
    }

    &__description {
      color: #fff;
      font-size: 20px;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: 125px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__number {
      color: #fff;
      position: absolute;
      bottom: 10px;
      right: 20px;
    }

    &__number--current {
      font-size: 18px;
    }

    &__number--all {
      font-size: 10px;
    }
  }

  @include laptop {
    &__header {
      display: none;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__description {
      font-family: '돋움', dotum;
      line-height: 2;
      margin-bottom: 90px;
    }

    &__slide-show {
      height: 460px;
    }

    &__slide-show__logo {
      width: 200px;
      height: 200px;
      background-image: url(../images/mask_white.png);
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__slide-show__logo--mask {
      width: 200px;
      height: 200px;
      -webkit-mask: url(../images/mask_black.png);
      mask: url(../images/mask_black.png);
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__slide-show__logo.clear + &__logo--mask {
      background-image: none;
    }

    &__slide-show__description {
      font-size: 33px;
      top: 315px;
    }

    &__slide-show__arrow {
      width: 40px;
      height: 80px;
    }

    .wrapper {
      max-width: 1080px;
      top: 0;
      left: 0;
    }

    &__slide-show__arrow.prev {
      background-image: url("../images/prev-arrow.png");
    }

    &__slide-show__arrow.next {
      background-image: url("../images/next-arrow.png");
    }

    &__slide-show__number--current {
      font-size: 35px;
    }

    &__slide-show__number--all {
      font-size: 19px;
    }
  }
}
