html {
  overflow: hidden;
}

.introduce-section {
  &__line {
    width: 30px;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  @include laptop {
    text-align: center;
    margin-top: 0px;
    padding-top: 100px;

    &__line {
      width: 60px;
      margin-bottom: 50px;
    }
  }
}
