.other__header {
  @include header;
  line-height: 74px;
  position: static;

  &__link {
    display: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 80px;
    margin: 0;
    float: left;
  }

  &__navigation {
    display: none;
    margin: 0;
    margin-right: 30px;
    float: right;
  }

  &__navigation__menu {
    display: none;
    @include clearfix;
  }

  &__navigation__menu li {
    margin: 0 25px;
    padding: 0 10px;
  }

  &__navigation__menu li a {
    font-size: 14px;
    font-weight: 600;
  }

  &__navigation--open {
    display: none;
  }

  &__navigation__sub-menu {
    display: block;
    width: 580px;
    margin: 0 auto;
    @include clearfix;
  }

  &__navigation__sub-menu li {
    float: left;
    padding: 20px;
  }

  &__navigation__sub-menu li a {
    color: #767676;
    font-family: '돋움', dotum;
    font-size: 12px;
  }

  &__navigation__sub-menu li.active a,
  &__navigation__sub-menu li:hover a {
    color: #000;
  }
}

@include laptop {
  .other__header {
    &__link {
      display: block !important;
    }

    &__navigation {
      display: block !important;
    }

    &__navigation__menu {
      display: block !important;
    }

    &__navigation--open {
      display: block !important;
    }
  }
}
